#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}
#chat-screen .status-bar,
#chat-screen .alt-screen-header {
  background-color: #abc1d1;
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-screen-header {
  z-index: 1;
}

@keyframes fadeInRight {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeInLeft 0.8s linear;
}
.message-row:first-child {
  animation: fadeInLeft 0.8s linear;
}
.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 45%;
  margin-right: 15px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  padding-top: 5px;
}

.message__info {
  display: flex;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  display: block;
  margin-right: 5px;
  font-weight: 600;
  font-size: 18px;
}

.message__time {
  display: flex;
  align-items: flex-end;
  font-size: 10px;
  opacity: 0.8;
}

.message-row--own {
  justify-content: flex-end;
  animation: fadeInRight 0.8s linear;
  animation-delay: 0.6s;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  transition: transform all 0.3s ease-in-out;
}

.reply .reply_column:first-child {
  width: 5%;
  margin-left: 10px;
}

.reply .reply_column:last-child {
  padding-right: 20px;
  width: 95%;
  position: relative;
}

.reply input {
  padding: 0 10px;
  height: 30px;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 20px;
  border-color: #d1d4d9;
  border: var(--main-border);
  transition: transform all 0.3s ease-in-out;
}

.reply_column:last-child > i,
.reply_column:last-child button {
  position: absolute;
  right: 0.5px;
  top: 2px;
}

.reply_column:last-child > i {
  right: 40px;
  top: 17px;
}

.reply_column:last-child button {
  background-color: var(--yellow);
  border: 1px solid #f4dd10;
  width: 28px;
  height: 28px;
  border-radius: 14px;
}

.reply_column button:focus,
.reply_column button:active {
  outline: none;
}

.reply_column button i {
  opacity: 1;
}
.reply i {
  opacity: 0.6;
}

.reply .reply_column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply_column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-5%) translateY(-50px);
}

.reply:focus-within {
  transform: translateY(50px);
}
